<ol>
  {{#each products}}
    <li>
      <p>
        <b>Id: </b> {{ id }} -
        <b>Título: </b>{{ title }} - 
        <b>Descripción: </b>{{ description }} - 
        <b>Código: </b>{{ code }} - 
        <b>Precio: </b>{{ price }}
        <b>Stock: </b>{{ stock }}
        <b>Categoría: </b>{{ category }}
      </p>
    </li>
  {{/each}}
</ol>


